<p>error-page works!</p>

<ul>
    <li>
        <a [routerLink]="['/auth/login']">Ir al Login</a>
    </li>
    <li>
        <a [routerLink]="['/auth/registro']">Ir al Registro</a>
    </li>
    <li>
        <a [routerLink]="['/heroes/listado']">Ir al Listado</a>
    </li>
    <li>
        <a [routerLink]="['/heroes/agregar']">Ir al Agregar</a>
    </li>
    <li>
        <a [routerLink]="['/heroes/editar/1']">Ir al Editar</a>
    </li>
    <li>
        <a [routerLink]="['/heroes/buscar']">Ir al Buscar</a>
    </li>
    <li>
        <a [routerLink]="['/heroes/1']">Ir al Heroe</a>
    </li>
</ul>